// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

html,
body {
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #f8fafc;
}

.border-temperature-right {
    border-right: 1px solid #fff;

    &.loading {
        border-right: 1px solid #e3e3e3;
    }
}

.border-temperature-left {
    border-left: 1px solid #fff;

    &.loading {
        border-left: 1px solid #e3e3e3;
    }
}

.v-calendar-weekly__head {
    height: 80px;

    .v-calendar-weekly__head-weekday {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3f51b5 !important;
        color: #fff !important;
        font-weight: bold;
        font-size: 20px;
        text-transform: none;
    }
}
